# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://your-project.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=your-publishable-key
SUPABASE_SERVICE_ROLE_KEY=your-service-role-key

# Daedalus API or any other LLM provider
DEDALUS_API_KEY=your-daedalus-api-key

# Langfuse
LANGFUSE_SECRET_KEY = "your-key"
LANGFUSE_PUBLIC_KEY = "your-key"
LANGFUSE_BASE_URL = "url"